@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "MontserratRegular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

/*@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "MontserratSemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fontsMontserrat-SemiBold.woff2") format("woff2");
}*/
