.footer__container {
  width: 100%;
  margin: 0 auto;
  background-color: #011c40;
}

.footer__body {
  max-width: 1366px;
  padding: 50px 103px;
  display: grid;
  grid-template-columns: 100px 658px auto;
  grid-template-rows: auto;

  @include vp-1023 {
    width: 100%;
    padding: 50px 45px;
    grid-template-columns: 100px auto auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 15px;
  }
}

.footer__logo {
  grid-column: 1;
  grid-row: 1;
  margin-right: 30px;
}

.footer__menu-list,
.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__menu-list {
  grid-column: 2;
  grid-row: 1;
  gap: 23px;

  @include vp-1023 {
    gap: 13px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__social-list {
  grid-column: 3;
  grid-row: 1;
  gap: 17px;
  justify-self: end;
  align-self: center;

  @include vp-767 {
    align-self: start;
  }
}

.footer__menu-link {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f9fbfd;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    padding: 10px 10px 10px 0;
  }
}
